.nav-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navigation{
    height: 10%;
    /* border: 4px solid black; */
}
.outlet{
    /* height: 70%; */
    /* border: 2px solid black; */
    overflow: scroll;
    scrollbar-width: none; 
}
.outlet::-webkit-scrollbar{
    display:none;
}