.nav-container{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navigation{
    height: 10%;
}
.outlet{
    height: 80%;
    overflow: scroll;
    scrollbar-width: none; 
}
.outlet::-webkit-scrollbar{
    display:none;
}
.cart-footer{
    /* justify-self: flex-end; */
    height: 10%;
}