.cart{
    height: 100%;
    /* border: 3px solid red; */
    display: grid;
    grid-template-rows: 10% 90%;
}

.cart-items-container{
    /* height: 70%; */
    /* border:3px solid green */
}
.cart-items-container::-webkit-scrollbar{
    display:none;
}
.subtotal{
    /* border: 3px solid red; */
}