
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Kanit:wght@700&family=Rowdies:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .form-input{
        @apply  shadow-lg shadow-slate-100/80 font-bold outline-none p-3 border-2 h-14 border-slate-200 focus:border-slate-400 focus:shadow-sm;
    }
    .btn{
        @apply bg-black text-white w-full h-16 font-bold text-xl
    }
    .h3{
        /* @apply   */
    }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
html{
    /* height: 100vh; */
}
body{
    height: 100%;
    border: 2px solid blue;
}
#root{
    height: 100%;
}
h1{
}

h2{
    font-size: 1.3rem;
    font-weight:600;
}

h3{
    font-size:1.1rem;
    font-weight:600;
}
h4{
    font-size:0.85rem;
    font-weight:500;
}